div.main-container {
  display: flex;
}

div.info-pane {
  margin-bottom: 20px;
  background: #282828;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 10px 20px;
  color: #eee;
}

div.player-container {
  margin-bottom: 20px;
}

div.player-container > .react-player {
  margin: 0 auto;
}

.leaflet-container .main-layer img {
  filter: grayscale(0.7);
}

.leaflet-container .leaflet-all-waypoints-pane-pane img {
  filter: hue-rotate(90deg);
}
